@(message: String)

@main("Welcome to Play") {

	<div class="hc-editor">
		<div class="hc-rich-text">
			<p>Lorem         ipsum dolor sit amet, consectetur <strong>adipiscing elit</strong>. Vestibulum sed porta metus, ac tempor arcu. Nullam scelerisque, quam nec congue <em>tincidunt</em>, dolor arcu fermentum nulla, sed euismod massa velit vel dui. Nullam malesuada, nisl et sagittis tempus, est diam varius arcu, eu porttitor tellus diam non dolor. Quisque eu condimentum ligula. Proin mattis interdum viverra. Nunc adipiscing risus augue, ut gravida leo imperdiet nec. <strong>Donec</strong> congue porttitor est tempus scelerisque. Sed quis nulla non velit iaculis sagittis sit amet a velit. Phasellus egestas aliquam <em>ligula</em>, ut tincidunt enim dictum eu.</p>
			<p>Etiam hendrerit nisl ipsum. <a href="#">Pellentesque consectetur</a> nulla eget mi consequat, at venenatis arcu vehicula. Mauris porta, leo vel porta consectetur, metus lorem rhoncus nunc, in feugiat augue elit vitae leo. Mauris ac turpis nulla. Suspendisse et eros tempor, interdum libero vitae, aliquam ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis leo orci, blandit in augue in, tincidunt pretium massa. Nullam a ultrices massa. Ut faucibus urna sem, a pellentesque orci fermentum et.</p>
			<p>Integer sollicitudin dolor nec purus lobortis lacinia. Proin eget libero vitae leo laoreet dictum a et libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eget tempus arcu. Nulla facilisi. In ac dui fermentum, tempor magna non, aliquam risus. Vivamus quam tellus, viverra non posuere mattis, consectetur eu leo. Donec massa turpis, tincidunt eu venenatis sit amet, aliquam quis felis. Aliquam lobortis elit mattis, auctor nunc consectetur, tempor odio. Nam ultrices, libero eget ultrices condimentum, massa felis malesuada nibh, nec auctor mi dui at libero.</p>
			<p>Curabitur cursus vehicula odio, et elementum felis porta fermentum. Etiam est dolor, cursus vel aliquet at, volutpat eu urna. Vestibulum quis volutpat ante. Curabitur et elit a augue mattis suscipit vel ac enim. Praesent vitae purus sed tortor sodales aliquam sit amet sit amet magna. Integer facilisis metus vel condimentum hendrerit. Nulla facilisi. Pellentesque luctus facilisis lorem vitae lacinia. Nunc orci ipsum, tristique id varius in, bibendum nec risus. Nunc adipiscing facilisis lectus quis molestie. Nullam at massa non urna mattis pellentesque. Proin gravida aliquet tortor et molestie. Donec vulputate sit amet lorem sed porttitor. In posuere mi non mauris ultricies, eu dapibus velit tempor. Curabitur tincidunt leo et enim ultrices tincidunt.</p>
			<ul>
				<li>Tekst bij item 1</li>
				<li>Tekst bij item 2</li>
				<li>Tekst bij item 3</li>
				<li>Tekst bij item 4</li>
			</ul>
			<p>Pellentesque sit amet leo facilisis, venenatis lacus nec, semper dui. Cras facilisis fermentum fermentum. Nulla massa felis, placerat adipiscing consectetur et, bibendum id ipsum. Donec imperdiet, nulla in fermentum suscipit, dolor arcu adipiscing metus, ut accumsan turpis augue quis nunc. Curabitur mattis sapien eget hendrerit tincidunt. In congue iaculis venenatis. Sed eu sollicitudin tortor. Quisque ligula nisi, vehicula eget metus vitae, bibendum ultricies ante. Integer tortor risus, semper sed suscipit nec, faucibus ac dolor. In in aliquam justo, vitae lacinia augue.</p> 	
		</div>
		<div class="hc-selection">
		</div>
		<div class="hc-cursor hc-blink"></div>
		<textarea class="hc-textarea"></textarea>
	</div>
}
